NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TONCONNECT_MANIFEST_URL=http://localhost:3000/tonconnect-manifest.json
NEXT_PUBLIC_TONCONNECT_APP_NAME=Tezz Buy
NEXT_PUBLIC_TONCONNECT_ICON_PATH=http://localhost:3000/logo.png
NEXT_PUBLIC_TONCONNECT_TERMS_URL=http://localhost:3000/terms
NEXT_PUBLIC_TONCONNECT_PRIVACY_URL=http://localhost:3000/privacy
NEXT_PUBLIC_TON_RECEIVER_ADDRESS=UQC89b46UvcP2PKALPHMFrvNy-Bq-XX4t_CPh8HZLvxvOwdo
NEXT_PUBLIC_TON_NANOTONS_PER_STAR=10000000
NEXT_PUBLIC_STARS_USD_RATE=0.015
NEXT_PUBLIC_TELEGRAM_BOT_ID=123456789
TELEGRAM_BOT_TOKEN=123456789:ABCDEF1234567890

